<h1> Convert <%= @original_currency %></h1> 

Go <a href="/">back</a> .

<ul>

  <% @currencies_list.each do |text| %>
    <li>
    <a href="/<%= @original_currency %>/<%=text%>">
    Convert 1 <%= @original_currency %> to <%=text%> ... </li>
  <% end %>
  
</ul>
